/* FormField.module.css */
.formField {
  margin-bottom: var(--spacingVerticalL);
  max-width: 320px;
}

.label {
  margin-bottom: var(--spacingVerticalS);
}

.helper-text {
  color: orange;
}

.text {
  margin-top: var(--spacingVerticalS);
}

.error {
  color: red;
}
